.sendmoney-layout{
    display: flex;

  min-height: 100vh;

  background: #000;
}
.sendmoney-main{
    flex: 1;

  margin-left: 280px;
  padding:25px;
}
.recipient-content {
    display: flex;

    flex-direction: column;

    gap: 20px;

    padding-top: 25px;
}
.sendmoney-row {
    display: grid;

    grid-template-columns: 2fr 1fr;

    margin-top: 20px;
}